html,
.background {
	height: 100%;
	background-color: #340001;
}
.content {
	font-family: "Arial", serif;
	color: #FEFEFE;
	
}
h1{
	
	color: #FEFEFE;
}
.button {
	padding: 30px;
	
}
.sendsubmit {
width:  100px;  
height: 100px;
margin: 0;
padding:0;
border: 0;
background: transparent;
background-image: url(Button.png);
background-size: cover;
background-position: 50% 50%;
text-indent: -1000em;
cursor: pointer; 
cursor: hand; 


}